.row-book-detail {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.book-details .col-2 img {
    height: 33rem;
    width: 21rem;
    object-fit: cover;
}

.book-details .col-2 {
    padding: 20px;
    margin: 0;
}

.book-details h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.book-details input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.book-details h3 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.btn-add-to-cart {
    display: inline-block;
    background: #34495e;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.btn-add-to-cart:hover {
    color: #34495e;
    border: 1px solid #34495e;
    background-color: white;
    outline: none;
}

.btn-submit-review {
    border: none;
    background: #d35400;
    color: white;
    padding: 8px 15px;
    margin: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    display: inline;
}

.btn-submit-review:hover {
    background-color: #e67e22;
    outline: none;
    border-color: #e1b4ab;
}

.review-section-details {
    text-decoration: none;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviewsHeading {
    margin: 5vmax auto;
    color: #000000be;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
}

.reviews {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
    justify-content: center;
}

.col-2 p {
    width: 25vw;
    font-size: 1rem;
}

/* Review card portion */
.review {
    margin: 0 1rem;
    max-width: 300px;
    flex: 1;
}

.head-review {
    margin: 1.75rem auto;
    width: 100px;
    height: 100px;
}

.review-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.body-review {
    background-color: rgb (238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    border-radius: 2rem;
}

.name-review {
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: 0.25rem;
}

.rating {
    margin: 1rem 0;
    display: table;
    margin: 1rem auto;
}

.desc-review {
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}

.noReviews {
    font: 400;
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
}

@media only screen and (max-width: 1024px) {
    .row-book-detail {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .book-details .col-2 img {
        height: 27rem;
        width: 17rem;
        padding: 0;
    }

    .book-details .col-2 h1 {
        font-size: 18px;
    }

    .book-details .col-2 h4 {
        font-size: 14px;
    }

    .col-2 p {
        width: 100%;
        font-size: 0.8rem;
    }

    .review-section-details {
        margin-bottom: 10px;
    }

    .review-section-details span {
        font-size: 0.8rem;
    }

    .btn-submit-review {
        font-size: 0.7rem;
    }

    .col-2 input {
        font-size: 0.7rem;
        width: 24px;
        height: 24px;
    }

    .btn-add-to-cart {
        font-size: 0.6rem;
    }
}

@media (max-width: 425px) {
    .row-book-detail {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 678px) {
    .review {
        margin-top: 1.5rem;
    }
}
