.speed-dial {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-100%, 5%);
}

.speed-dial-icon {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 100%;
}

@media screen and (max-width: 960px) {
    .speed-dial {
        right: 20px;
        transform: translate(-100%, 5%);
    }
}
