.speedDial {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 20%);
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

@media screen and (max-width: 960px) {
    .speedDial {
        right: 25px;
        transform: translate(-100%, 4%);
    }
}
