.confirm-order-page {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 3fr;
}

.confirm-order-page > div:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.247);
}

.confirm-shipping-area {
    padding: 5vmax;
    padding-bottom: 0%;
}

.confirm-shipping-area > p {
    font-weight: bolder;
    font-size: 2rem;
}

.confirm-shipping-area-box,
.confirm-cart-items-container {
    margin: 2vmax;
}

.confirm-shipping-area-box > div {
    display: flex;
    margin: 1vmax 0;
}

.confirm-shipping-area-box > div > p {
    font-weight: bolder;
    color: black;
}
.confirm-shipping-area-box > div > span {
    margin: 0 1vmax;
    color: #575757;
}

.confirm-cart-items {
    padding: 2.5vmax;
    padding-top: 2vmax;
}

.confirm-cart-items-container {
    max-height: 20vmax;
    overflow-y: auto;
}

.confirm-cart-items-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vmax 0;
}

.confirm-cart-items-container > div > img {
    width: 3vmax;
}

.confirm-cart-items-container > div > a {
    color: #575757;
    margin: 0 2vmax;
    width: 60%;
    text-decoration: none;
}

.confirm-cart-items-container > div > span {
    color: #5e5e5e;
    margin-right: 20px;
}

.order-summary {
    padding: 7vmax;
}

.order-summary > p {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    padding: 1vmax;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.order-summary > div > div {
    display: flex;
    justify-content: space-between;
    margin: 2vmax 0;
}
.order-summary > div > div > span {
    color: rgba(0, 0, 0, 0.692);
}

.order-summary-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    padding: 2vmax 0;
}

.order-summary > button {
    background-color: #34495e;
    color: white;
    width: 100%;
    padding: 1vmax;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

.order-summary > button:hover {
    background-color: #2c3e50;
}

@media screen and (max-width: 960px) {
    .order-summary > button {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .confirm-order-page {
        grid-template-columns: 1fr;
        height: unset;
    }

    .confirm-order-page > div:last-child {
        border-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.247);
    }

    .confirm-shipping-area-box > div {
        display: flex;
        margin: 6vw 0;
    }

    .confirm-cart-items-container {
        max-height: 50vw;
    }

    .confirm-cart-items-container > div {
        margin: 4vw 0;
    }

    .confirm-cart-items-container > div > img {
        width: 10vw;
    }

    .confirm-cart-items-container > div > a {
        margin: 0;
        width: 30%;
    }

    .order-summary {
        padding: 12vw;
    }

    .order-summary > p {
        padding: 4vw;
    }

    .order-summary > button {
        padding: 4vw;
        margin: 4vw auto;
    }
}
