.profile-container {
    padding-top: 80px;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    max-width: 100%;
    background-color: white;
}

.profile-container > div {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container > div:first-child > h1 {
    color: rgba(0, 0, 0, 0.555);
    transform: translateX(-10vmax) translateY(-2vmax);
}

.profile-container > div:first-child > img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 100%;
    transition: all 0.5s;
}

.profile-container > div:first-child > img:hover {
    transform: scale(1.05);
}

.profile-container > div:first-child > a {
    border: 5px solid transparent;
    border-radius: 50px;
    background-color: #34495e;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    width: 30%;
    margin: 2rem;
    text-align: center;
    transition: all 0.5s;
}

.profile-container > div:first-child > a:hover {
    background-color: white;
    border: 5px solid #34495e;
    color: #34495e;
}

.profile-container > div:last-child {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5rem;
    box-sizing: border-box;
}

.profile-container > div:last-child > div > h4 {
    color: black;
}

.profile-container > div:last-child > div > p {
    color: rgba(0, 0, 0, 0.418);
    margin: 0.8rem 0rem;
}

.profile-container > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.profile-container > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(68, 68, 68);
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    transition: all 0.5s;
    margin: 0.2rem 0;
}

.profile-container > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 768px) {
    .profile-container {
        margin-top: 80px;
        flex-direction: column;
    }

    .profile-container > div:first-child > h1 {
        display: none;
    }

    .profile-container > div:first-child > img {
        width: 10rem;
        height: 10rem;
    }

    .profile-container > div:first-child > a {
        padding: 0.5rem;
    }

    .profile-container > div:last-child {
        text-align: center;
        align-items: center;
        padding: 0;
    }

    .profile-container > div:last-child > div > p {
        margin: 0.3rem 0 2rem 0;
    }

    .profile-container > div:last-child > div:last-child > a {
        padding: 0.7rem;
        margin: 0.2rem 0;
    }
}

@media screen and (max-width: 375px) {
    .profile-container {
        font-size: 0.8rem;
    }
}
