.update-password-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    top: 0%;
    left: 0;
}

.update-password-box {
    box-shadow: 5px 10px 18px #888888;
    border-radius: 25px;
    background-color: white;
    width: 25rem;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.update-password-heading {
    padding: 35px;
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 75%;
    margin: auto;
}

.update-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.update-password-form > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.update-password-form > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
}

.update-password-form > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.update-password-button {
    border: none;
    background-color: #34495e;
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.update-password-button:hover {
    background-color: #2c3e50;
}

@media screen and (max-width: 600px) {
    .update-password-container {
        background-color: white;
    }
    .update-password-box {
        width: 100vw;
        height: 85vh;
    }

    .update-password-form {
        padding: 5vmax;
    }

    .update-password-form > div > input {
        padding: 2.5vmax 5vmax;
    }

    .update-password-form > div > svg {
        font-size: 2.8vmax;
    }

    .update-password-button {
        padding: 1.8vmax;
    }
}
