.small-container {
    padding: 100px 0 0;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4rem 2rem;
    justify-content: center;
    margin: auto;
}

.title {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pagination-box {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border-radius: 100px;
    padding: 1rem 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
}

.page-link {
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}

.page-item:hover {
    background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
    color: rgb(80, 80, 80);
}

.pageItemActive {
    background-color: tomato;
}

.pageLinkActive {
    color: white;
}

@media (max-width: 1024px) {
    .row {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 640px) {
    .row {
        grid-template-columns: repeat(1, auto);
    }
}
