.col-4 {
    position: relative;
    color: black;
    box-shadow: 0px 0px 12px #cccccc;
    display: flex;
    height: 11rem;
    width: 25rem;
    border-radius: 25px;
}

.col-4 img {
    position: relative;
    left: 15px;
    top: -20px;
    height: 13.6rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 12px;
}

.book-details-side {
    padding: 15px;
    margin-left: 12px;
}

.book-details-side h4 {
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-bottom: 12px;
}

.book-details-side p {
    width: 220px;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button-detail {
    position: absolute;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    right: 0;
    bottom: 0;
    border-radius: 25px 0;
}

/* Responsive screen sizes */
@media (max-width: 1180px) {
    .col-4 {
        height: 9rem;
        width: 20rem;
    }

    .col-4 img {
        left: 10px;
        top: -20px;
        height: 11rem;
        width: 7rem;
    }

    .book-details-side h4 {
        width: 150px;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .book-details-side p {
        width: 150px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .button-detail {
        font-size: 12px;
        padding: 5px 20px;
    }
}
