.search-box {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box .input-field {
    background-color: rgb(231, 231, 231);
    border: 1px solid transparent;
    padding: 1rem 3rem;
    width: 50%;
    outline: none;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 100px 0px 0px 0px;
}

.search-box .search-btn {
    width: 10%;
    border-radius: 0px 0px 100px 0px;
    height: 4rem;
    background-color: #34495e;
    color: #fff;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.search-box .search-btn:hover {
    background-color: #0d1925;
}

@media (max-width: 1180px) {
    .search-box .search-btn {
        width: 20%;
    }
}

@media (max-width: 425px) {
    .search-box .search-btn {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
    }

    .search-box .input-field {
        margin-right: 5px;
        padding: 1rem 1rem;
        width: 75%;
        height: 4rem;
        border-radius: 20px;
    }
}
